
{% extends "base.html" %}

{% block content %}

<ul>
<li>National Suicide Prevention Hotline &#8211; (800) 274-8255 &#8211; <a href="http://www.suicidepreventionlifeline.org/">suicidepreventionlifeline.org</a></li>
<li>National Sexual Assault Hotline &#8211; (800) 656-HOPE &#8211; <a href="https://www.rainn.org/get-help/national-sexual-assault-hotline">rainn.org/get-help/national-sexual-assault-hotline</a></li>
<li>Veterans Crisis Line &#8211; (800) 273-8255 &#8211; <a href="http://veteranscrisisline.net/">veteranscrisisline.net/</a></li>
<li>American Academy of Experts in Traumatic Stress &#8211; <a href="http://www.aaets.org/crisishotline.htm">aaets.org/crisishotline.htm</a> (Locate your state and call the associated number)</li>
<li>Make The Connection &#8211; <a href="http://maketheconnection.net">maketheconnection.net</a></li>
<li>Suiting Warriors &#8211; <a href="http://suitingwarriors.org">suitingwarriors.org</a></li>
<li>Blooming Wellness &#8211; <a href="http://www.bloomingwellness.com/">bloomingwellness.com</a></li>
<li>Veterans Yoga Project &#8211; <a href="http://www.veteransyogaproject.org">veteransyogaproject.org</a></li>
<li>Mindful Yoga Therapy &#8211; <a href="http://mindfulyogatherapy.org/wp/">mindfulyogatherapy.org/wp/</a></li>
<li>Holistic Online &#8211; <a href="http://www.holistic-online.com">olistic-online.com</a></li>
<li>Authentic Breathing Resources &#8211; <a href="http://www.authentic-breathing.com/breathing_tips.htm">authentic-breathing.com/breathing_tips.htm</a></li>
</ul>

{% endblock %}

